*{
    box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #282828;
  margin: 0;
}

.home{
 height: 100vh;
 width: 100vw;
 display: block;
}

.homescreen{
  background-color: green;
  color: white;
  text-align: center;
 position: relative;
}

.cta{
  position: absolute;
  top: 5%;
  left: 20%;
  transform: translate(-13%, -0%);
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #282828;
  padding: 0.5em 0.5em;
  border-radius: 5px;
}

.scrollimg{
  position: absolute;
  top: 85%;
  left: 10;
  transform: translate(-50%, 0%);
  animation: float 3s ease-in-out infinite;
}

@keyframes float{
  0%{
    transform: translate(-50%, 0%);
  }

  50%{
    transform: translate(-50%, -40%);
  }

  100%%{
    transform: translate(-50%, 0%);
  }
}

  .name{
    display: flex;
    position: relative;
  }

  .email{
    display: flex;
    position: relative;
  }

  .phonenumber{
    display: flex;
    position: relative;
  }
  .password{
    display: flex;
    position: relative;
  }

  .confirmpassword{
    display: flex;
    position: relative;
  }

form{
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

label{
  display: flex;
  align-items: center;
  margin-top: 1em;
}

label img{
  width: 30px;
  height: 30px;
}

input{
  border-radius: 5px;
  outline: none;
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 2.5px solid #9B9B9B;
  transition: all 0.4s;
  width: 13em;
}

input:valid{
 border-color: green;
}

input:focus{
  width: 16em;
}

span{
  position: absolute;
  left: 2.3em;
  cursor: text;
  transform: translateY(-8px);
  color: #9B9B9B;
  transition: all 0.3s;
}
input:focus + span{
  transform: translateY(-20px);
  font-size: 0.8rem;
  color: #F0F0F0;
}
input:valid + span {
  transform: translateY(-20px);
}

button{
  cursor: pointer;
  border: 2px solid green;
  padding: 1em 4em;
  margin-top: 2em;
  border-radius: 20px;
  background-color: #282828;
  color: #9B9B9B;
  transition: all 0.3s;
}

button:hover{
  background-color: green;
  color: white;
}